
  .investor-title{
	font-family: baskerville, serif;
	font-size: 45px;
	color:#052b3a;
	text-decoration: underline;
  	text-decoration-color: green;
}

.send-button{
	border: none;
	background-color: #129ee6;
}

.contact-form{
	height: 530px;
	width: 85%;
	background-color: #e7e5e6; /*#8dc641*/ /*#e7e7e7*/;
}

.invest-input{
	height: 35px;
	border-color: transparent;
	background-color: ;
}

textarea{
	height: 250px;
}



